#toolbar {
  min-height: 3.5rem;
  background-color: rgb(255, 255, 255);
}
#toolbar .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #ffffff;
  border: 1px solid #64a19d;
}
#toolbar .navbar-toggler:focus {
  outline: none;
}
#toolbar .navbar-brand {
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 0.9rem 0;
}
#toolbar .navbar-nav .nav-item:hover {
  color: fade(rgb(255, 255, 255), 80%);
  outline: none;
  background-color: transparent;
}
#toolbar .navbar-nav .nav-item:active, #toolbar .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
  color: black;
}

.logo{
  width: 8%;
  height: 8%;
}


@media (min-width: 992px) {

  .navbar{
    background-color: rgba(0, 0, 0, 0.5);
  }

  #toolbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #toolbar .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #toolbar .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #toolbar .nav-link:hover {
    color: rgba(0, 0, 0, 0.75);
  }
  #toolbar .nav-link:active {
    color: rgb(255, 0, 0);
  }
  #toolbar.navbar-shrink {
    background-color: #fff;
  }
  #toolbar.navbar-shrink .navbar-brand {
    color: rgb(255, 255, 255);
  }
  #toolbar.navbar-shrink .nav-link {
    color: rgb(255, 255, 255);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #toolbar.navbar-shrink .nav-link:hover {
    color: #ffffff;
  }
  #toolbar.navbar-shrink .nav-link:active {
    color: #ffffff;
  }
  #toolbar.navbar-shrink .nav-link.active {
    color: #ffffff;
    outline: none;
    border-bottom: 0.25rem solid #ffffff;
  }
}


#eslogan{
  margin-left: 100px;
  padding-top: 50px;
  font: 2.5em; 
  text-align: center;
  color: #2C1414 ;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

#Warriors{
  color: red;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#Presentation { 
  width: 100%;
  height: 200%;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("../media/Roca.jpg");
  background-position: center;
  background-attachment: contain;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

}

section#Documentation .section-heading {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(0, 0, 0);
}

#Documentation{
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.docu {
  position: relative;
  padding: 0;
  list-style: none;
}
.docu:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.docu > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.docu > li:after, .docu > li:before {
  display: table;
  content: " ";
}
.docu > li:after {
  clear: both;
}

.docu > li .docuPanel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.docu > li .docuPanel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.docu > li .docuPanel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.docu > li .docuImg {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;

}
.docu > li .docuImg2 {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;

}
.docu > li .docuImg h4, .docu > li .docuImg .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.docu > li .docuImg2 h4, .docu > li .docuImg2 .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.docu > li.docuInverted > .docuPanel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.docu > li.docuInverted > .docuPanel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.docu > li.docuInverted > .docuPanel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.docu > li:last-child {
  margin-bottom: 0;
}
.docu .docuHead h4, .docu .docuHead .h4 {
  margin-top: 0;
  color: inherit;
}
.docu .docuHead h4.subheading, .docu .docuHead .subheading.h4 {
  text-transform: none;
}
.docu .docuBody > ul,
.docu .docuBody > p {
  margin-bottom: 0;
  margin-left: 0px;
}

@media (min-width: 768px) {
  .docu:before {
    left: 50%;
  }
  .docu > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .docu > li .docuPanel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .docu > li .docuImg {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
    .docu > li .docuImg2 {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .docu > li .docuImg h4, .docu > li .docuImg .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
    .docu > li .docuImg2 h4, .docu > li .docuImg2 .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .docu > li.docuInverted > .docuPanel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .docu > li {
    min-height: 150px;
  }
  .docu > li .docuPanel {
    padding: 0 20px 20px;
  }
  .docu > li .docuImg {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .docu > li .docuImg h4, .docu > li .docuImg .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
    .docu > li .docuImg2 h4, .docu > li .docuImg2 .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .docu > li.docuInverted > .docuPanel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .docu > li {
    min-height: 170px;
  }
  .docu > li .docuPanel {
    padding: 0 20px 20px 100px;
  }
  .docu > li .docuImg {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
    .docu > li .docuImg2 {
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  .docu > li .docuImg h4, .docu > li .docuImg .h4 {
    margin-top: 40px;
  }
    .docu > li .docuImg2 h4, .docu > li .docuImg2 .h4 {
    margin-top: 40px;
  }
  .docu > li.docuInverted > .docuPanel {
    padding: 0 100px 20px 20px;
  }
  .docu > li .docuImg2 .img{
    width: 175%;
    height: 70%;
  }
}

section#contact {
  background-image: url("./../media/suelo.jpg");
  background-position: center;
  background-attachment: contain;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  padding-top: 10rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact form#Form .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#Form .form-group input,
section#contact form#Form .form-group textarea {
  padding: 1.25rem;
}
section#contact form#Form .form-group input.form-control {
  height: auto;
}
section#contact form#Form .form-group-textarea {
  height: 100%;
}
section#contact form#Form .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#Form p.help-block {
  margin: 0;
}
section#contact .section-heading {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
}
section#contact form#Form .form-control:focus {
  border-color: #000000;
  box-shadow: none;
}
section#contact form#Form ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#Form :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#Form ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#Form :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

section#Us{
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.team-member{
    margin-left: 350px;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.90;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-input-placeholder{
    color:  #a8a8a8;
}
::-webkit-textare-placeholder{
    color:  #a8a8a8;
}

span{
    color: red;
}