* {
margin: 0px; 
padding: 15px;

}


h1 { 

font: bold 2.5em verdana, sans-serif; 
text-align: center; 
color: #f5ea0a; 
}

h2 { 

font: bold 2em verdana, sans-serif; 
text-align: left; 
color: #f5ea0a;
}

body { 

text-align: center;
background-image: url("../imagenes/lluvia.gif");
height: 500px; 
background-position: center; 
background-repeat: no-repeat;
background-size: cover;

}

#page { 

width: 960px; 
margin: 15px auto; 
text-align: left;

}

#header { 

background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyVbhkrPFUG0JV8DLsnqCzQh1fEO_OhHcUaQ&usqp=CAU); 
border: 1px solid #ffcb70;
padding: 20px; 
}

#nav { 
background: #ffcb70; 
padding: 5px 15px; }

#content { 

float: left; 
width: 910px; 
margin: 10px; 
}

.article { 

background: #ffcb70; 
border: 1px solid #e87f07;
padding: 20px; 
margin-bottom: 15px; 
}

.article_header { 

border-bottom: 2px solid #e87f07; 
text-align: center;
}

.figure { 

border: 1px double #e87f07; 
padding: 5px; 
}
